<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>CSV upload Status</title>
</head>
<body>
    <div class="container py-5">
        <div class="row">
            <div class="col-10 mx-auto">
                <h1>File Upload Status</h1>
                <!--display error if any-->
                <div class="alert alert-danger" role="alert" th:if="${!status}">
                    <strong>Error:</strong>
                    <span th:text="${message}"></span>
                </div>

                <!--display users list-->
                <table class="table table-striped" th:if="${status}">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ParcelID</th>
                        <th scope="col">Price</th>
                        <th scope="col">Valid Until</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="response, i : ${responseOperation}">
                        <th scope="row" th:text="${i.index + 1}"></th>
                        <td th:text="${response.getParcelId()}"></td>
                        <td th:text="${response.getPrice()}"></td>
                        <td th:text="${response.getValidUntil()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>